$color : #FE7671;
.card{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-flow:column;
}
.container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
    flex-flow:column;
    overflow-y: scroll;
    width:100%;
    margin:0 auto;
}
.loadcontainer{
    display:flex;
    justify-content: center;
    align-items: center;
}
.loader{
    width:100px;
    height:100px;
    color:$color;
    margin:0 auto;
}
.thumb{
    width:300px;
    margin:0 auto;
    margin-top:30px;
}
.row{
    display:flex;
    flex-flow:row;
    align-items: center;
    justify-content: center;
}
.icon{
    margin-left:5px;
    font-size:30px;
}
.backbutton{
    margin-top:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width:75px;
    height:50px;
}
.backbutton:hover{
    cursor: pointer;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
h3{
    margin:0;
}
