<app-header></app-header>

<ion-content>
    <div class="form">
        <ng-container *ngIf="login">
            <app-signin></app-signin>
            <ion-label>Don't have an account? <a href="javascript:void(0)" (click)="login = false">Sign up.</a></ion-label>
        </ng-container>

        <ng-container *ngIf="!login">
            <app-signup (registered)="register()"></app-signup>
            <p>Already have an account? <a href="javascript:void(0)" (click)="login = true">Sign in.</a></p>
        </ng-container>
    </div>

    <p class="success-message">{{successMessage}}</p>

</ion-content>
