.main-loader {
  display: block;
  margin: auto;
  text-align: center;
  width: 100px;
  height: 100px;
}

.form {
  padding: 30px;

}
ion-input  {
  --background: #ECF0F1;
  margin: 5px;
  border-radius: 4px;
}
